{% extends 'GeneralBundle::main.html.twig' %}

{% block cssFiles %}
    {{ parent() }}
    <link href="{{ asset('bundles/frontend/css/main.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block scriptFiles %}
    {{ parent() }}
    <script src="{{ asset('bundles/frontend/js/frontend.js') }}" type="text/javascript"></script>
{% endblock %}

{% block header %}
    {{ parent() }}
    {% include('FrontendBundle:partials:mainMenu.html.twig') %}
{% endblock %}

{% block body %}
    {{ parent() }}
    <div id="page-wrapper">
        {% include('FrontendBundle:partials:masthead.html.twig') %}

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel">

                        {% if pageHead is not defined %}
                            {% set pageHead = '' %}
                        {% endif %}
                        {% if pageHead %}
                            <div class="panel-heading">{{ pageHead|trans }}</div>
                        {% endif %}

                        <div id="content" class="panel-body">
                            {% block content %}

                            {% endblock %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {{ parent() }}
    <hr>
    {% include('FrontendBundle:partials:social.html.twig') %}
    <hr>
    {% include('FrontendBundle:partials:footer.html.twig') %}
{% endblock %}

{% block scripts %}
    {{ parent() }}
    Frontend.init();
{% endblock %}

