<header class="navbar navbar-default navbar-fixed-top" role="banner">

    <div class="container">

        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ path('home') }}" class="navbar-brand">{{ 'Главная' | trans }}</a>
        </div>

        <nav class="collapse navbar-collapse" role="navigation">

            <ul class="nav navbar-nav">

                <li {% if app.request.attributes.get('_route') == 'user_home' %}class="active"{% endif %}>
                    <a href="{{ path('user_home') }}">{{ 'Профиль' | trans }}</a>
                </li>

                {% if is_granted('ROLE_MODERATOR') %}
                    <li {% if app.request.attributes.get('_route') == 'test_list' %}class="active"{% endif %}>
                        <a href="{{ path('test_list') }}">{{ 'Тесты' | trans }}</a>
                    </li>
                {% endif %}

                {% if is_granted('ROLE_USER') %}
                    <li {% if app.request.attributes.get('_route') == 'test_list' or app.request.attributes.get('_route') == 'test_testing_new' %}class="active"{% endif %}>
                        <a href="{{ '' }}">{{ 'Прохождение тестов' | trans }}</a>
                    </li>
                {% endif %}

            </ul>

            <ul class="nav navbar-right navbar-nav">

                <li class="dropdown">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img class="avatar-img" src="{{ app.user.avatar }}" /></a>
                        <ul class="dropdown-menu" style="padding:12px;">
                            <li><a href="{{ path('user_home') }}">{{ 'Рдактировать профиль' | trans }}</a></li>
                            <li><a class="logout_button" href="{{ path('logout') }}">{{ 'Выход' | trans }}</a></li>
                        </ul>
                    {% endif %}
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
                    <ul class="dropdown-menu" style="padding:12px;">
                        <form class="form-inline">
                            <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input type="text" class="form-control pull-left" placeholder="Search">
                        </form>
                    </ul>
                </li>

            </ul>

        </nav>

    </div>

</header>