{% extends 'FrontendBundle::main.html.twig' %}

{% block scriptFiles %}
    {{ parent() }}
    <script src="{{ asset('bundles/frontend/js/pages/test-list.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content %}

    <table>

        <thead>
            <tr>
                <th>{{ 'ID' | trans }}</th>
                <th>{{ 'Название' | trans }}</th>
                <th>{{ 'Тип' | trans }}</th>
                <th>{{ 'Дата создания' | trans }}</th>
            </tr>
        </thead>

        <tbody>
            {% for test in tests %}
                <tr class="auto-url" data-url="{{ path('test', {'id': test.id} ) }}">
                    <td>{{ test.id }}</td>
                    <td>{{ test.name }}</td>
                    <td>{{ test.type }}</td>
                    <td>{{ test.dateCreation | date(date_format) }}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>

{% endblock %}

{% block scripts %}
    {{ parent() }}
    TestList.init();
{% endblock %}